.jumbotron {
    background-color:burlywood;
    padding: 80px 40px 30px 15px; 
}

.card-act {
    padding: 5px 0px 2px 0px;
    background-color: lemonchiffon;

}

.btn-cm {
    width: 100%;
}

footer {
    padding: 20px 20px 0px 20px;
    background-color: antiquewhite;
    margin-bottom: 0px;
    margin-top: 40px;
}

.footer-adress-icon {
    padding-right: 10px;    
}

table {
    text-align: center;
}

.tab-content {
    padding-top: 10px;
}

