@red: #E87461;
.margenes (@top: 0 px, @bottom 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @red;
    padding: 80px 40px 30px 15px; }
  
  .card-act {
    background-color: lemonchiffon;
    .margenes (50px, 0px);
}
  
  .btn-cm {
    width: 100%; }
  
  footer {
    padding: 20px 20px 0px 20px;
    background-color: @red;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .footer-adress-icon {
    padding-right: 10px; }
  
  table {
    text-align: center; }
  
  .tab-content {
    padding-top: 10px; 
} 