.jumbotron {
  background-color: #E87461;
  padding: 80px 40px 30px 15px;
}
.card-act {
  background-color: lemonchiffon;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn-cm {
  width: 100%;
}
footer {
  padding: 20px 20px 0px 20px;
  background-color: #E87461;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-adress-icon {
  padding-right: 10px;
}
table {
  text-align: center;
}
.tab-content {
  padding-top: 10px;
}


