$red: #751212;
@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}
.jumbotron {
    background-color: $red;
    padding: 80px 40px 30px 15px; 
}

.card-act {
    
    background-color: lemonchiffon;
    @include margenes(10px, 0px)

}

.btn-cm {
    width: 100%;
}

footer {
    padding: 20px 20px 0px 20px;
    background-color: antiquewhite;
    @include margenes(10px, 0px);
}

.footer-adress-icon {
    padding-right: 10px;    
}

table {
    text-align: center;
}

.tab-content {
    padding-top: 10px;
}
